#con{
	/*background: url(../img/1.jpg);*/
	width: 100%;
	height: 760px;	
}
#page_one{
	margin-top:100px;
	position:relative;
}
#page_two{
	margin-top:100px;
	position:relative;
}
#page_three{
	margin-top:100px;
	position:relative;
}

/*#judge_score span{
	display:none;
}*/

#judge_score{
	margin-left:10px;
}
.thumbnail{
	text-align:center;
}
#container{
	font-family: 微软雅黑;
}
#span-info-con{
	height: 30px;
	font-size: 25px;
	margin-top: 50px;
	text-align: center;
	line-height: 30px;
}
#judge-con{
	float: left;
	width: 30%;
	line-height: 100%;
	padding: 20px;
}
#hero-unit{
	height: 100%;
}
#judge-score{
	/*width: 100%;*/
}
#pic{
	line-height:20px;
	font-size:20px;
	/*margin-left:170px;*/
}
#thumbnails{
	float: left;
	margin-left: 5px;
}
#body{
	font-family: 微软雅黑;
}
#hr{
	border: 1.5px solid;
	color: red;
	margin-top: 30px;
	width: 100%;
}
#judges_login{
	background: url(../img/1.jpg);
	font-family: 微软雅黑;
	min-height: 768px;	
}
#num1{
	width:190px; 
	height:30px;
	border-radius:0px;
	float:left;
	/*font-size:20px;*/
}
#form_login{
	width:65%;
	margin-top: 100px;
	color: white;
}
#form_login input{
	margin-left:2px;
}
/*key_borad start*/
#key_borad_box{
	width:375px;
	height:250px;
	border:1px solid #000;
	float:left;
}
.key_borad ul li{
	width:40px;
	height:35px;
    list-style:none;
    display:inline;
  }
  .key_borad_input{
    width:40px;
    height:35px;
    border-radius:3px;
  }
  .key_borad_submit{
    width:40px;
    height:40px;
    line-height:40px;
    border-radius:3px;
  }
  .key_borad_reset{
    width:40px;
    height:35px;
    border-radius:3px;
  }
  .key_borad_text{
    width:200px;
    height:30px;
    border:1px solid #000;
  }
  /*key_borad end*/

